<nav class="navbar">

  <div class="logo-container">
    <a href="/" (click)="closeNav()">
      <img class="logo filter-white" src="assets/logo.svg" alt="Logo">
    </a>
  </div>

  <input id="menu-toggle" type="checkbox" [(ngModel)]="showNav" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul class="menu">
    <li *ngFor="let link of navigationLinks" routerLinkActive="active-link" (click)="closeNav()">
      <a [routerLink]="link.route">
        {{ link.label }}</a>
    </li>
  </ul>
</nav>