:host {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000;
  height: 3.125rem;
  padding: 1em;
  transition: background-color 0.3s;
}

.navbar.scrolled {
  background-color: var(--primary-color);
}

.navbar.scrolled .menu > li a,
.navbar.scrolled .logo {
  color: var(--background-color);
}

.logo-container {
  margin-left: 1rem;
}

.logo {
  width: 100px;
  height: 100px;
}

.filter-white {
  filter: brightness(0) invert(1);
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s;
}

.menu li.active-link a {
  color: var(--secondary-color);
}

.navbar.scrolled .menu li.active-link a {
  color: var(--secondary-color);
}

.menu > li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > li a:hover {
  color: var(--secondary-color);
}

.navbar.scrolled .menu > li a:hover {
  color: var(--secondary-color);
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: background-color 400ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button-container:hover .menu-button,
.menu-button-container:hover .menu-button::before,
.menu-button-container:hover .menu-button::after {
  background-color: var(--secondary-color);
}

.navbar.scrolled .menu-button,
.navbar.scrolled .menu-button::before,
.navbar.scrolled .menu-button::after {
  background-color: var(--background-color);
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1000px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid var(--secondary-color);
    height: 2rem;
    padding: 1rem;
    transition: height 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
  }

  .navbar.scrolled .menu > li {
    background-color: rgba(31, 39, 71, 0.5);
    color: var(--secondary-color);
  }

  .navbar.scrolled .menu > li a:hover {
    color: var(--secondary-color);
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
