/* Host Container Styles */
:host {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Navbar Styling */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000;
  height: 3.125rem;
  padding: 1em;
  transition: background-color 0.3s;
}

/* Navbar Color Change on Scroll */
.navbar.scrolled {
  background-color: var(--primary-color);
}

/* Navbar Link and Logo Color on Scroll */
.navbar.scrolled .menu > li a,
.navbar.scrolled .logo {
  color: var(--background-color);
}

/* Logo Container Styling */
.logo-container {
  transform: scale(1.1);
  margin-left: 1rem;
}

/* Logo Styling */
.logo {
  width: 100px;
  height: 100px;
}

/* White Filter for Logo */
.filter-white {
  filter: brightness(0) invert(1);
}

/* Menu Styling */
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

/* Menu Item Styling */
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  transition: background-color 0.3s;
}

/* Active Link Styling */
.menu li.active-link a,
.navbar.scrolled .menu li.active-link a {
  color: var(--secondary-color);
}

/* Menu Link Styling */
.menu > li a {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* Menu Link Hover Effect */
.menu > li a:hover,
.navbar.scrolled .menu > li a:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Mobile Menu Button Container */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mobile Menu Toggle Button */
#menu-toggle {
  display: none;
}

/* Mobile Menu Button Styling */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: background-color 400ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

/* Hover Effect for Mobile Menu Button */
.menu-button-container:hover .menu-button,
.menu-button-container:hover .menu-button::before,
.menu-button-container:hover .menu-button::after,
.navbar.scrolled .menu-button-container:hover .menu-button,
.navbar.scrolled .menu-button-container:hover .menu-button::before,
.navbar.scrolled .menu-button-container:hover .menu-button::after {
  background-color: var(--secondary-color);
}

/* Navbar Color for Mobile Menu Button on Scroll */
.navbar.scrolled .menu-button,
.navbar.scrolled .menu-button::before,
.navbar.scrolled .menu-button::after {
  background-color: var(--background-color);
}

/* Mobile Menu Button Animation */
.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

/* Mobile Menu Toggle State */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Responsive Styles for Mobile */
@media (max-width: 900px) {
  .navbar.scrolled .menu > li a,
  .navbar.scrolled .logo {
    color: var(--text-color);
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 5rem;
    left: 0;
    flex-direction: column;
    background-image: url("../../../assets/menu_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-bottom: 1px solid #000;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    height: 2rem;
    padding: 1rem;
    transition: height 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    width: 100%;
  }

  .navbar.scrolled .menu > li a:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}
