<!-- Container for the questionnaire form -->
<div class="questionnaire-form">
  <!-- Material Horizontal Stepper Component -->
  <mat-horizontal-stepper orientation="vertical" linear #stepper class="stepper-container">

    <!-- Dynamic form creation based on questionnaire data -->
    <form [formGroup]="questionnaireForm" class="questionnaire-form-container">
      <!-- Loop through each group of questions -->
      <mat-step *ngFor="let group of questionnaireData; let i = index">

        <!-- Step label -->
        <ng-template matStepLabel><label class="stepper-label">
            {{ group.stepLabel }}</label></ng-template>

        <!-- Loop through each question in the group -->
        <div *ngFor="let question of group.questions" class="question-block">

          <!-- Question label -->
          <label class="question-label">
            {{ question.label }}</label>

          <!-- Radio group for question options -->
          <mat-radio-group [formControlName]="question.formControlName">
            <mat-radio-button *ngFor="let option of question.options" [value]="option.value">
              {{ option.display }}
            </mat-radio-button>
          </mat-radio-group>

        </div>

        <!-- Navigation buttons for the stepper -->
        <div class="buttons-container">
          <button *ngIf="i > 0" mat-button class="back-btn" (click)="stepper.previous()">Back</button>
          <button *ngIf="i < questionnaireData.length" mat-button class="next-btn" (click)="stepper.next()">Next</button>
        </div>

      </mat-step>
    </form>

    <!-- Final Step -->
    <mat-step>
      <ng-template matStepLabel><label class="stepper-label">Complete</label></ng-template>

      <div>
        <p>All Complete!</p>

        <!-- Submit button -->
        <div class="buttons-container">
          <button mat-button class="submit-btn" (click)="submitQuestionnaire()">Submit</button>
        </div>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</div>