/* Host Container Styling */
:host {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Questionnaire Form Container Styling */
.questionnaire-form-container {
  padding: 1rem;
}

/* Stepper Container Styling */
.stepper-container {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin: auto;
  max-width: 90%;
}

::ng-deep .mat-step .mat-step-header {
  cursor: pointer;
  background-color: var(--background-color) !important;
}

::ng-deep .mat-step-header:hover[aria-disabled="true"],
.mat-step-header:hover[aria-disabled="false"] {
  cursor: pointer !important;
}

/* Styling for Angular Material Vertical Content */
::ng-deep .mat-vertical-content {
  padding: 24px 24px 24px 24px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Question Label Styling */
.question-label {
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

/* Radio Group Styling */
mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}

mat-radio-button {
  display: block;
  border-bottom: 1px solid #e0e0e0;
}

/* Remove bottom border for the last mat-radio-button */
mat-radio-group mat-radio-button:last-child {
  border-bottom: none;
}

/* Button Container Styling */
.buttons-container {
  margin-top: 1.5rem;
  width: 100%;
}
