/* Host Container Styling */
:host {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

/* Questionnaire Form Container Styling */
.questionnaire-form-container {
  padding: 1rem;
}

/* Stepper Container Styling */
.stepper-container {
  margin: auto;
  width: 90%;
  max-width: 100%;
}

/* Styling for Angular Material Vertical Content */
::ng-deep .mat-vertical-content {
  padding: 24px 24px 24px 24px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Question Label Styling */
.question-label {
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

/* Radio Group Styling */
mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}

mat-radio-button {
  display: block;
  border-bottom: 1px solid #e0e0e0;
}

/* Button Container Styling */
.buttons-container {
  width: 100%;
}
