<div class="skill-form-container">
  <form [formGroup]="skillFormGroup" class="form-container">
    <mat-horizontal-stepper linear #stepper class="stepper-container">
      <mat-step *ngFor="let category of categoryKeys" [stepControl]="skillFormGroup" class="category-step">
        <ng-template matStepLabel>
          <label class="stepper-label">{{category}}</label>
        </ng-template>
        <div class="skill-select-container">
          <mat-form-field appearance="fill" class="skill-select">
            <mat-label>Select
              {{ category }} Skills
            </mat-label>
            <mat-select [formControlName]="category" multiple>
              <mat-option *ngFor="let skill of skillsOptions[category]" [value]="skill">
                {{ skill }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="buttons-container">
          <button class="next-btn" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <!-- Final Step: Complete -->
      <mat-step class="complete-step">
        <ng-template matStepLabel><label class="stepper-label">Complete</label></ng-template>
        <div class="complete-container">
          <p>All Complete!</p>
          <button class="submit-btn" mat-button (click)="submitSkills()">Register</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>