/* Skill Select Container Styling */
.skill-select-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* Skill Select Element Styling */
.skill-select {
  width: 90%;
  margin-bottom: 0;
}

/* Styling for Angular Material Vertical Content */
::ng-deep .mat-vertical-content {
  padding: 0 24px 0 24px !important;
}

/* Complete Button Container Styling */
.complete-container {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
