app-skill-form {
  width: 100%;
  height: 100%;
}

.skill-form-container {
  min-width: 100%;
  min-height: 100%;
}

.skill-select-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.skill-select {
  width: 90%;
  margin-bottom: 0;
}

::ng-deep .mat-vertical-content {
  padding: 0 24px 0 24px !important;
}

.complete-container {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
