<div class="about-page-container">

  <!-- Intro Banner Section -->
  <section class="about-banner">
    <h1>About SkillSight</h1>
    <p>Empowering your tech journey with data-driven insights to bridge the skill gap and unlock your full potential.</p>
  </section>

  <div class="about-content">
    <!-- Mission Statement Section -->
    <section class="mission-statement" #missionStatement>
      <div class="mission-content">
        <h2>Our Mission</h2>
        <ul>
          <li>- Facilitating continuous learning and improvement in the tech sector.</li>
          <li>- Empowering professionals with actionable insights and data-driven guidance.</li>
          <li>- Supporting career progression through personalised skill-matching.</li>
        </ul>
      </div>
      <div class="mission-image">
        <img src="../../../assets/roadmap.jpg" alt="Our Mission Illustration">
      </div>
    </section>

    <!-- Key Features -->
    <section class="features-section" #featuresSection>
      <div class="features-content">
        <h2>Key Features</h2>
        <ul>
          <li>- Advanced skill gap analysis using real-time market data.</li>
          <li>- Interactive tools for visualizing personal growth and potential.</li>
          <li>- Customized learning pathways tailored to individual career goals.</li>
        </ul>
      </div>
      <div class="features-image">
        <img src="../../../assets/code.jpg" alt="Interactive Tools Illustration">
      </div>
    </section>

  </div>

</div>