:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.banner-container {
  margin: -6rem 0 0 0;
}

.hero-section {
  text-align: center;
}

.hero-section p {
  padding: 0 5rem;
}

.role-selection-component {
  margin: 1rem auto;
}

.job-info-container {
  width: 60%;
  background-color: var(--white-color);
  border-left: 4px solid var(--accent-color);
  border-right: 4px solid var(--accent-color);
  padding: 16px;
  border-radius: 4px;
  margin: 0rem auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.visualisation {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
