<app-role-selection (roleSelected)="onRoleSelected($event)"></app-role-selection>

<div *ngIf="selectedRoleId" class="job-info-container">
  <app-job-info class="job_info" [selectedRoleId]="selectedRoleId" [selectedRoleTitle]="selectedRoleTitle"></app-job-info>
</div>

<div *ngIf="selectedRoleId" class="visualisation">
  <app-trending-skills-visualisation [selectedRoleId]="selectedRoleId" [category]="'Language'">
  </app-trending-skills-visualisation>

  <app-trending-skills-visualisation [selectedRoleId]="selectedRoleId" [category]="'Library'">
  </app-trending-skills-visualisation>

  <app-trending-skills-visualisation [selectedRoleId]="selectedRoleId" [category]="'Tool'">
  </app-trending-skills-visualisation>

  <app-trending-skills-visualisation [selectedRoleId]="selectedRoleId" [category]="'Platform'">
  </app-trending-skills-visualisation>

  <app-trending-skills-visualisation [selectedRoleId]="selectedRoleId" [category]="'Methodology'">
  </app-trending-skills-visualisation>
</div>