<div class="login-form">

  <mat-horizontal-stepper linear #stepper class="stepper-container">

    <!-- First Group - Personal Details -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="form-container">
        <ng-template matStepLabel><label class="stepper-label">Login Details</label></ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <button class="next-btn" mat-button matStepperNext>Next</button>
      </form>
    </mat-step>


    <!-- Final Step -->
    <mat-step>
      <ng-template matStepLabel><label class="stepper-label">Complete</label></ng-template>
      <div class="form-container">
        <p>All Complete!</p>
        <button class="submit-btn" mat-button (click)="submitLogin()">Login</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>