/* .registration-form {
  margin: auto;
  height: 80vh;
  display: flex;
  align-items: center;
}

.form-container,
form {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .registration-form,
  .form-container {
    width: 60%;
    margin: 0;
  }
} */

.registration-form {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}
/* 
.stepper-container {
  width: 100%;
} */

.form-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.next-btn {
  background-color: #4caf50;
}

.next-btn:hover {
  background-color: #45a049;
}

.back-btn {
  background-color: #f44336; /* Red */
}

.back-btn:hover {
  background-color: #da190b;
}

.submit-btn {
  background-color: #008cba; /* Blue */
}

.submit-btn:hover {
  background-color: #005f6b;
}

@media (max-width: 600px) {
  .registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stepper-container {
    width: 60%;
  }
}
