/* Accordion Wrapper Styling */
.accordion-wrapper {
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}

/* Section Heading Styling */
.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Mat Expansion Panel Styling */
.mat-expansion-panel {
  margin-bottom: 1rem !important;
  border-radius: 10px !important;
}

/* Mat Expansion Panel Header Styling */
.mat-expansion-panel-header {
  min-height: 64px;
}

/* Header Content Styling */
.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Category Name Styling */
.category-name {
  text-align: center;
  flex: 0.3;
  margin-bottom: 0.5rem;
}

/* Progress Bar Container Styling */
.progress-bar-container {
  margin-right: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Progress Text Styling */
.progress-text {
  margin-top: 0.5rem;
}

/* Skills Chips Styling */
.skills-chips {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Known Skill Chip Styling */
.known-skill {
  background-color: var(--success-color) !important;
}

/* Missing Skill Chip Styling */
.missing-skill {
  background-color: var(--warning-color) !important;
}

.known-skill a,
.missing-skill a {
  text-decoration: none;
  color: var(--white-color);
}

/* Skill Chip Text Color */
.known-skill span,
.missing-skill span {
  color: var(--white-color) !important;
}

/* Responsive Styling for Smaller Screens */
@media (max-width: 550px) {
  .accordion-wrapper {
    width: 95%;
  }

  .header-content {
    align-items: flex-start;
    flex-direction: column;
  }

  .category-name {
    text-align: left;
  }

  .progress-bar-container {
    width: 90%;
  }
}
