/* Component Scoped Styles */
:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.role-section,
.roadmap-section h2 {
  text-align: center;
  font-size: 2rem;
}

.category-header {
  text-align: center;
  padding: 1rem;
  margin: 0;
  border-radius: 10px 10px 0 0;
  color: var(--white-color);
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--primary-color);
  top: 20px;
  bottom: 210px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--white-color);
  border: 4px solid var(--circle-border-color);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before,
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  border: medium solid var(--white-color);
}

.left::before {
  right: 30px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--white-color);
}

.right::before {
  left: 30px;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--white-color) transparent transparent;
}

.right::after {
  left: -17px;
}

.content {
  padding: 20px 30px;
  background-color: var(--white-color);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content li {
  padding: 5px 0;
  list-style: none;
  border-left: 3px solid var(--accent-color);
  margin-bottom: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  :host {
    padding: 0 10px;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before,
  .left::after,
  .right::after {
    left: 15px; /*Aligns the circles to the same spot */
  }

  /* Adjust the arrows to point towards the content correctly */
  .left::before,
  .right::before {
    left: 2px;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--white-color) transparent transparent;
  }

  .right {
    left: 0%; /* Ensures right items align to the left as well */
  }

  /* Adjusts content to not overflow and fit within the container */
  .content {
    padding: 20px;
    word-wrap: break-word;
  }
}
